<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- 命名空间 -->
	<typeAliases>
		<typeAlias alias="Goods" type="com.pos.entity.Goods" />
		<typeAlias alias="Preferential" type="com.pos.entity.Preferential" />
	</typeAliases>

	<!-- 映射map -->
	<mappers>
		<mapper resource="mapper/GoodsMapper.xml" />
		<mapper resource="mapper/PreferentialMapper.xml" />
	</mappers>
<!-- 	<properties> -->
<!-- 		<property name="dialect" value="oracle" /> -->
<!-- 	</properties> -->
	<plugins>
		<plugin interceptor="com.pos.demo.PaginationInterceptor">
			<property name="dialect" value="mysql" />
			<property name="pageSqlId" value=".*listPage.*" />
		</plugin>
	</plugins>

</configuration>